body {
	font-size: 16px;
	color: #000;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/** HEADER **/
#header-nav {
	background-color: #A9A9A9;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	padding-top: 10px;
	height: 80px;
}
.navbar-brand h1 {
	font-family: 'Oxygen', sans-serif;
	color: black;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-left: 10px;
	line-height: .75;
	padding-top: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
  text-align: center;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  width: 275px;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}

.navbar-header button.navbar-toggle {
	clear: both;
}
.navbar-toggle {
	margin-top: -60px;
}

#collapsable-nav a {
	font-size: 1.2em;
}

.container h2 {
	text-align: center;
	font-size: -.3em;
	font-weight: bold;
}

#box {
	padding: 15px;
	margin-bottom: 50px;
	width: 100%;
}

#box h3 {
	text-align: center;
	font-weight: bold;
}

#box p {
 	margin-left: 10px;
 	margin-right: 10px;
 	font-weight: bold;
}

#box div {
	background-color: #A9A9A9;
}

/********** Large devices only **********/
@media (min-width: 1200px) { .col-lg-12

.col-lg-12 {
	padding-top: 15px;
  }


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) { .col-md-12
  /* Header */

  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) { .col-xs-8
  /* Header */
.navbar.navbar-default .container-fluid,
.navbar.navbar-default .container {
    text-align: center;
  }
.navbar.navbar-default .navbar-nav {
    display: inline-block;
  }
.navbar.navbar-default .navbar-brand {
  }
  /* End Header */
	p {
	font-size: 1.3em;
	}
}